color1 = #52C0D0
color2 = #FFBD2F
color3 = #BE534A

body
  height 100%

#header
  background linear-gradient(top, white, color1)

#content
  height 100%
  background linear-gradient(top, color1, color2)
