@import url(http://fonts.googleapis.com/css?family=Sanchez)

color-body-top = #A62800
color-body-bottom = #FFB800
color-content = #187CA2

html, body
  height 100%

body
  font-family 'Sanchez', serif
  background linear-gradient(top, color-body-top, color-body-bottom)

#content
  padding 20px 10px 0px 10px
  margin auto
  height 100%
  width 80%
  background color-content
  box-shadow 0px 0px 60px 10px black
