!!! 5
html
  head
    block title(text)
      - if(text == undefined)
        title R&aacute;ndomer
      - else 
        title R&aacute;ndomer - #{text}
    link(href='/stylesheets/html5-reset.css', rel='stylesheet')
    link(href='/stylesheets/layout.css', rel='stylesheet')
  body
    #header
      block header
        h1 R&aacute;ndomer
    #content
      block content
